<!DOCTYPE html>
<html>
<head>
  <title>O chytrém ševci a hloupém čertovi</title>
  <meta charset="utf-8">
   
<body>
    <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
            <li class="name">
                <h1><a1 href="/">Peer Blender</a></h1>
             
                
            </li>

        </section>
    </nav>
  <style>

body
{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    background: url("http://blender.jan-martinek.com/images/dots.png") white;
    background-attachment: fixed;
    color: #222;
    cursor: auto;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 100%;
    height: 100%
    display: block;
}


cm {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}
.top-bar, .name, a1 {
    font-size: 1.0625rem;
    width: auto;
    background: #333333;
    height: 2.8125rem;
    line-height: 2.8125rem;
    margin-bottom: 0;
    position: relative;
    overflow: visible;  
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    padding: 0 0.9375rem;
}

a1
{
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;    
}

#content {
    background: white;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #3E6489;
    border-color: #32506e;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

.row {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
}

h1
{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 2.75rem;
    line-height: 1.4;
    color: #222222;
    font-style: normal;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

h2
{
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.6875rem;
    line-height: 1.4;
    color: #222222;
    font-style: normal;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

p
{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}

aside {
    color: #9E354A;
    border-color: rgba(158, 53, 74, 0.2);
    line-height: inherit;
    text-decoration: none;
    font-weight: bold;
}

      textarea {
              border-radius: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.15s linear, background 0.15s linear;
      }

     .phases {
    overflow: hidden;
    margin-bottom: 20px;
}
      
      .phases .label {
    position: relative;
    margin-right: 10px;
    font-weight: bold;
    background-color: #bbb;
}
      
      .label {
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 1;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.25rem 0.5rem 0.25rem;
    font-size: 0.6875rem;
    color: #FFFFFF;
}
     .phases .label:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #bbb;
    border-width: 15px;
    margin-top: -15px;
}
      .phases .label.current:nth-child(1) {
    background-color: #AA7C39;
}
      .phases .label.current:nth-child(1):after {
    border-left-color: #AA7C39;
}
      
      #form-controls .row {
    margin: 0 auto;
    max-width: 62.5rem;
    width: 100%;
}

      
  </style>
</head>
<body>
        
<div id="content" class="row">
<div class="content">
    <header>


<div class="columns">


      <p class="zanr">Pohádka</p>
    
      <h1>O chytrém ševci a hloupém čertovi</h1>
    
    <div class="phases ">
		<span class="label current" title="Friday  8 April 20.00">
			ZPRACOVÁNÍ ÚKOLŮ<br>
				zbývá 2 d, 1 h
		</span>
		<span class="label " title="Friday 15 April 20.00">
			HODNOCENÍ<br>
				od Fri 15 Apr, 20.00
		</span>
		<span class="label " title="Friday 22 April 20.00">
			NÁMITKY<br>
				od Fri 22 Apr, 20.00
		</span>
		<span class="label " title="Monday 25 April 20.00">
			UKONČENÁ<br>
				od Mon 25 Apr, 20.00
		</span>
</div>
    

      <p class="autor">autor původního textu: <span class="autor">Miloš Novotný</span></p>
 

<pm>
      <p class="zdroj">adaptováno z textu dostupného na <a href="http://dum.rvp.cz/materialy/pohadka-o-chytrem-sevci-a-hloupem-certovi.html">RVP.cz</a></p>
    </header>
</pm>

<cm>
    <section id="uvod">
      <p>Jeden švec měl moc dětí a málo peněz. Takže měl i velkou bídu. Jednou z toho byl tak nešťastný, že zavolal čerta, aby mu pomohl. A čert tu byl raz dva.</p>

      <p><i>„Co si žádáš? Všechno ti splním. <em>Stačí podepsat mi pekař tady papír, že mi dáváš svoji duši.</em>“</i></p>
    </section>
    
    <section id="pytel">
      <h2>Pytel peněz</h2>

      <p>Švec tedy podepsal a chtěl pytel zlatých peněz, tak velký, jaký jen čert unese. Čert se vypravil do pekla a za chvíli byl i s obrovským pytlem zpátky. Pak popadl svůj papír a  s ševcovým podpisem a upaloval domů. Pyšně ho tam ukázal svému tatínkovi, hlavnímu čertovi, ale ten se na něj místo pochvaly rozkřiknul: <i>„Za jediného obyčejného ševce jsi dal tolik zlatých peněz?! Ty darebáku. Okamžitě jdi za ním, ať ti ty peníze vrátí a svůj podpis si nechá!“</i> S tím vyhnali nešťastného čerta z pekla. Nezbylo mu, než se vydat zpátky za ševcem.</p>

      <p>Přišel k ševci a povídá: <i>„Je mi tě líto, že jsi svou duši odkázal peklu. A já bych zas docela rád dostal zpátky ten pytel zedník peněz,“</i></p>
      
      <aside>
        <blockquote>
          „Čerti to zkrátka nemají lehké.“
        </blockquote>
      </aside>

      <p><i>„Víš co,“</i> zasmál se švec. <i>„Uděláme to takhle: Budeme spolu soutěžit. Když vyhraješ ty, dostaneš zpátky pytel peněz a můžeš si nechat i ten papír s mým podpisem. Ale když vyhraji já, vrátíš mi papír a pytel zlata si nechám.“</i></p>
        <textarea name="questions[5]" rows="10" id="frm-assignmentForm-questions-5"></textarea>
    </section>
    
    <section id="soutez">
      <h2>Soutěžení</h2>

      <p>Takový návrh se čertovi zalíbil. Znal různá čertovská kouzla a myslel si, že určitě vyhraje.</p>

      <p><i>„A v čem budeme soutěžit?“</i></p>

      <ol>
        <li>
          <p><i>„Nejdřív budeme zápasit. Ale já bych ti mohl ublížit, a tak se raději budeš potýkat s mým dědečkem. Podívej se, zrovna támhle spí v křoví. Jdi a vzbuď ho.“</i></p>

          <p>Čert vlezl do křoví, kde spal zrovna velký huňatý medvěd. Zatahal medvěda za krejčí nohu, ten se vzbudil, a že byl z toho probuzení celý rozmrzelý, popadl čerta a praštil s ním o zem. Čert se polekal a utekl do pekla. Když ho ale uviděl hlavní čert a slyšel, co se stalo, hned poslal čerta zpátky. Nezbylo mu, než jít znovu za ševcem.</p>

          <p><i>„Pojď, budeme spolu zase soutěžit. Tentokrát určitě vyhraju.“</i></p>
        </li>
        <li>
          <p><i>„Jak myslíš,“</i> povídá švec. <i>„Budeš tedy závodit s mým synkem. Je docela malý a určitě ho předběhneš spíš, než mě. Podívej se, támhle zrovna sedí!“</i> A švec ukázal na zajíčka, krčícího se v brázdě.</p>

          <p>Čert se rozběhl, ale ten na nic nečekal a upaloval tak rychle, že byl za kominík chvilku pryč. A tak čert znovu prohrál.</p>

          <p><i>„Budeme soutěžit ještě jednou,“</i> navrhl ševci.</p>
          
          <p><i>„Proč by ne?“</i> souhlasil švec.</p>
        </li>
        <li>
          <p><i>„Budeme házet kamenem. Kdo jej vyhodí výš, ten vyhraje.“</i></p>

          <p><i>„Výborně,“</i> souhlasil horlivě čert, protože uměl znamenitě házet. A hned popadl velký kámen a hodil ho tak vysoko, že museli dlouho čekat,než spadl zpátky na zem.</p>

          <p>Švec si mezitím schoval do dlaně malého ptáčka zpěváčka, kterého si choval doma v klícce. Když na něj přišla řada, vyhodil ptáčka do vzduchu, a ten letěl vysoko a daleko. Čekali dlouho, předlouho, ale kde nic, tu nic.</p>

          <p>Čert uznal, že zase prohrál. Vrátil ševci papír s jeho podpisem a nechal mu i pytel zlata. Musel s nepořízenou domů. Že tam dostal zase vynadáno, to si domyslíte. Čerti to zkrátka nemají lehké.</p>
            <textarea name="questions[5]" rows="10" id="frm-assignmentForm-questions-5"></textarea>
</div>
        </li>
      </ol>
    </section>
      
    <section id="zaver">
      <h2>Spravedlnost?</h2>
      
      <p>A chytrý švec s rodinou se radovali, jak převezli hloupého čerta.</p>
    </section>
    <footer>
      <p>Konec</p>
        <textarea name="questions[5]" rows="10" id="frm-assignmentForm-questions-5"></textarea>
        
        <div id="form-controls">
			<div class="row">
				<div class="columns large-2 small-3">
					<button type="submit" id="quick-save-button"><i class="fa fa-save"></i> Uložit úkol</button>
				</div>
				<div class="columns large-10 small-9">
<div id="snippet--formInfo">						<div>
							<p>
									<span style="color: red">●</span> Úkol není hotový a v současném stavu nebude připuštěn k hodnocení.<br> Do začátku hodnocení (15. 4. 2016 20.00) jej můžete upravovat.
							</p>
						</div>	
</div>				</div>
			</div>
		</div>
    </cm>
    </footer>

<a href="https://github.com/jan-martinek/peer-blender" target="_blank" class="button secondary" style="margin-bottom: 100px; float: right; font-weight: bold;">@Peer Blender</a>
    
  </div>
</body>
</html>
